/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Intégration des polices */
@font-face {
  font-family: "Dalek Pinpoint";
  src: url("./DalekPinpointBold.ttf") format("ttf");

 }
 
@font-face {
  font-family: "Roman SD";
  src: url("./RomanSD.ttf");
}


body{
  font-family: 'Roman SD';
  font-weight: bold;
  font-size:15px;
  background-image: url("./../images/test.jpg");
  background-size: cover;
  background-repeat: no-repeat;
 
}

/* Titre principal */
h1{
  font-family: 'Dalek Pinpoint' ;
  font-size: 100px;
  text-shadow: 2px 2px 4px black;
  color:orange;
  text-align:center;
  margin-top:5%;
  margin-bottom:0;
}

/* Changement de couleur au survol des liens */
.text:hover{
  color:white;
}

/* Barre de navigation */
.nav {
  
    -webkit-box-align: center;
  
        -ms-flex-align: center;
  
            align-items: center;
    font-weight: 300;
    height: 70vh;
  }


.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-perspective: 10px;
            perspective: 10px;
    -webkit-transform: perspective(300px) rotateX(20deg);
            transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    -webkit-perspective-origin: center center;
            perspective-origin: center center;
    -webkit-transition: all 1.3s ease-out;
    -o-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
.nav:hover {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transition: all 1.3s ease-in;
    -o-transition: all 1.3s ease-in;
    transition: all 1.3s ease-in;
    -webkit-transform: perspective(10000px) rotateX(0deg);
            transform: perspective(10000px) rotateX(0deg);
}


.nav .text {
      opacity: 1;
    }

.nav > div {
      opacity: 1;
      -webkit-transition-delay: 0s;
           -o-transition-delay: 0s;
              transition-delay: 0s;
    }

  
  .left, .center, .right, .lefter, .righter {
    width: 230px;
    height: 260px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transition-delay: 1s;
         -o-transition-delay: 1s;
            transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    
  }
.left, .center, .right, .lefter, .righter
    {
    -webkit-box-shadow: 0 0 50px 20px rgba(247, 142, 22, 0.76);
            box-shadow: 0 0 50px 20px rgba(247, 142, 22, 0.76);

    }
  
.text  {
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    bottom: 0;
    will-change: transform;
    text-shadow: 2px 2px 4px black;
    color:orange;
    text-align:center;
    margin-left:10%;
    margin-right:10%;
    margin-top:100%;

  }

  a{
    text-decoration:none;
  }

  .lefter {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
            transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url("./../images/des.png");

  }
  .left {
    -webkit-transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
            transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url("./../images/fleche.png");
  }
  .center {
    opacity: 1;
    background-image: url("./../images/accueil.png");
  }
  .right {
    -webkit-transform: translateX(30px) translateZ(-25px) rotateY(5deg);
            transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url("./../images/contact.png");
  }
  .righter {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
            transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url("./../images/avis.png");
  }

/* différents containers */
#rules, #download, #contact, #avis {

  -webkit-box-shadow: inset 0 0 1em gold, 0 0 2em red;

          box-shadow: inset 0 0 1em gold, 0 0 2em red;
  border-radius: 15px;
  margin:5% 10% 0 10%;
  
}

.container > section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(226, 56, 56)), to(rgb(247, 244, 84)));
  background: -o-linear-gradient(rgb(226, 56, 56), rgb(247, 244, 84));
  background: linear-gradient(rgb(226, 56, 56), rgb(247, 244, 84));
  padding-bottom:4%;
  
  
}

/* Les titres de chaque section */
.container h2{
  text-align:center;
  background-image: url("./../images/bois.jpg");
  border-radius: 15px;
  padding:10px;
  margin:0;
  color:white;

}
#download > img {
  width: 20%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5% 40% 5% 40%;
}


.container > section > p {
  text-align:center;

 
}


#rules > p > img{
  width:20%;
  padding: 0 5% 2%;
  display:inline-block;

}


/* Formulaire */

  form {
    /*centrer le formulaire sur la page */
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    text-align:center;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin: 0 auto;
    width: 60%;
    padding: 1em;

  }


#container{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact img{
  width:30%;
  text-align:center;
  margin-left:40%;
  margin-bottom:2%;
}
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 60%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {

    vertical-align: top;
    height: 5em;
  }
  
  .button {
 
    padding-left: 90px; 
  }
  
  /* Design du bouton de formulaire */
  button {
    
    display: inline-block;
    background-color: #ec8a19;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
    button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    }
    button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    }
    button:hover {
    background-color: #fd2d11;
    }
    button:hover span {
    padding-right: 25px;
    }
    button:hover span:after {
    opacity: 1;
    right: 0;
    }


/* Section avis */

#avis{
  display: -ms-grid;
  display: grid;
}

#avis h2{
  -ms-grid-row:1;
  grid-row:1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}

#avis > p{
  padding-top:20%;
  padding-left:5%;
  padding-right:3%;
}

#avis p:nth-child(1){
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row:2;
  grid-row:2;
}

#avis p:nth-child(2){
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row:2;
  grid-row:2;
}

#avis p:nth-child(3){
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row:2;
  grid-row:2;
}

footer{
    background-color:black;
    height: 5%;
    color:white;
    text-align:center;
    padding:2%;
    margin-top:5%;
}


/* Responsive du site */

  @media(max-width: 767px)

  { 
  body{
    width:100%;
    margin:0;
  }

  .container{
    width:100%;
  }
  
  
  }
  